<html>

    <head>
        <link th:href="@{/css/ici.css}" rel="stylesheet" />
    </head>
    <body>
        <form method="POST" action="/connect">
            <h2>Connect</h2>
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" name="btnConnect" value="Connect" />
        </form>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" th:src="@{/js/ici.js}"></script>
    </body>
</html>