<html>

    <head>
        <link th:href="@{/css/ici.css}" rel="stylesheet" />
    </head>

    <body>
        <form id="formGesture">
            <input type="text" name="shortcut" value="SHORTCUT_BALL" />
            <button type="submit">Register gesture</button>
            <button type="button" id="saveModelButton">Save model</button>
        </form>
        <form id="formDetectGesture">
            <button type="submit">Detect gesture</button>
        </form>

        <canvas id="canvas" width="150" height="150">

        </canvas>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" th:src="@{/js/ici.js}"></script>
        <script>

/*            const evtSource = new EventSource("/admin/events/new", {
                withCredentials: true,
            });
            evtSource.onmessage = function (event) {
                console.log("EVENT", event);
            };*/
        </script>
    </body>
</html>